@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/brandon-grotesque-medium.otf');
    font-weight: normal;
    font-style: normal;
}