.bg-grey {
    background: rgb(34, 34, 34);
}

.f-white {
    color: #ffffff;
}

.f-light-grey {
    color: rgb(157, 157, 157);
}


.pas {
    max-width: 150px;
}

.brand {
    max-height: 30px;
}

.f-h {
    min-height: 90vh;
}

.karla {
    font-family: 'Karla', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.source {
    font-family: 'Source Sans Pro', sans-serif;
}

.fjalla {
    font-family: 'Fjalla One', sans-serif;
}

.helvetica {
    font-family:'Helvetica';
}

.brandon {
    font-family:'Brandon';
}

.avenir {
    font-family:'Avenir';
}

.futura {
    font-family:'Futura';
}

.white {
    color: #ffffff;
}

.dark-white{
    color: gray;
}

.link {
    color: #74FAA3;
    font-weight: bold;
}

.link:hover {
    color: #74FAA3;
    font-weight: bold;
    text-shadow: -4px 1px 0px #E35A7E, 4px -1px 0px #EF817C;
    text-decoration: none;
}

ul {
    list-style: none;
}

.u {
    text-decoration: underline;
    text-decoration-color: #EF817C; 
    text-decoration-style: wavy;
}


.u2 {
    text-decoration: underline;
    text-decoration-color: #EF817C; 
}

.project-img {
    max-width: 300px;
}

/* Flaired edges, by Tomas Theunissen */
/* Glyph, by Harry Roberts */

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}